.castList {
  display: grid;
  place-items: center;
  padding-top: 20px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 12px;
}

.castItem {
  width: 160px;
  height: 100%;
  text-align: center;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
}

.itemDescr {
  padding: 10px;
}

.personName {
  font-weight: 500;

  color: #1f1f1f;
}

.character {
  color: #505050;
}
